body {
    min-height: 100vh;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 680px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
    margin-bottom: 16px;
    gap: 24px;
}

.left {
    display: flex;
    width: 450px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;   
}

ul {
    display: flex;
    gap: 16px;
    font-size: 18px;
    list-style: none;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

p {
    font-size: 16px;
    color: #E5E7EB;
    margin-top: 0;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

#button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 6px;
    width: 100px;
}

#hero-image {
    width: 500px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 0;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

.text {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(42, 41, 41);
    text-align: center;
    margin-top: 10px;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

img {
    width: 200px;
    height: 300px;
    border-radius: 12px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 70px;
}

.info {
    max-width: 200px;
}

.border img {
    transition: .5s ease;
}

.border img:hover {
    box-shadow: 0 0 0 8px #1F2937;
    transition: .5s ease;
}

.quote-background {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    max-width: 750px;
}

.ian {
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 85px;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.background {
    background-color: #2f3031;
    width: 1000px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: Montserrat Regular,Montserrat,sans-serif;
}

.subtext {
    font-size: 16px;
    color: #dfe1e4;
    font-family: Montserrat Regular,Montserrat,sans-serif;
    margin-top: 4px;
}

.button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: 700;
    padding: 6px;
    border-radius: 6px;
    width: 135px;
}